
.project-container{
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-div{
    border: 3px solid hsl(var(--clr-dark-gray));
    margin: 1.5em;
    height: 300px;
    background-color: hsl(var(--clr-sandy-brown), .6);
}

.project-header{

}