.container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    flex: 1;


}

.darkDiv {
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;


}

.selfieDiv {
    max-width: 50%;
    height: auto;
    width: 85%;
    padding: 10px;
    float: right;
}

.aboutText {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: hsl(var(--clr-dark-gray));
    color: hsl(var(--clr-mint-offwhite));
    justify-content: center;
    font-size: clamp(1.75rem, 10vw, 3.5rem);


}
