
.container{
    min-height: 900px;
}

.about-text {
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    justify-content: center;

    /*!* gradient color*!*/
    /*background: -webkit-linear-gradient(hsl(var(--clr-dark-gray)), hsl(var(--clr-orange-soda)));*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/

}

.selfie-div {
    margin-top: 3rem;
    margin-right: 1rem;
    border: 4px solid hsl(var(--clr-dark-gray));

    min-width: 400px;
    max-width: 40vw;
    height:auto;
    max-height: 800px;
    float: right;
}