.footer-container{
    height: 80px;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: hsl(var(--clr-dark-gray));
}

.footer-text{
    padding: .2rem;
    font-size: clamp(var(--fs-200), 1.5vh, var(--fs-400));
    display: flex;
    color: hsl(var(--clr-mint-offwhite))
}
.footer-text>a{
    color:inherit
}

.social-img{
    height: 40px;
    width: auto;
}

@media(max-width: 700px){
    .social-img{
        height: 30px;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .footer-container{
        height:100px;
    }
}

@media(max-width: 300px){
    .social-img{
        height: 20px;
    }
    .footer-text{
        font-size: 1vh;
    }

}