---
import Layout from "../layouts/Layout.astro";
import LandingPage from "../components/LandingPage.jsx";
---

<Layout title="Home">
  <main>
    <LandingPage />
  </main>
</Layout>

<style></style>
