.drop-down-container{
    background-color: hsl(var(--clr-blue-gray));
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    border: 5px solid hsl(var(--clr-dark-gray));
}
.drop-down-paragraph-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    font-size: clamp(var(--fs-200), 2.5vw, var(--fs-500));
}
.drop-down-paragraph-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vw;
    font-size: clamp(var(--fs-200), 2.5vw, var(--fs-500));
}

.drop-down-picture{
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
    min-width: 250px;
    object-fit: cover;
    border: 2px solid hsl(var(--clr-orange-soda));
    border-radius: 5px ;

}




@media(min-width: 725px){
    .drop-down-container{
        margin-left: 2em;
        margin-right: 2em;
    }
    .drop-down-picture{
        width: 450px;
        height: 300px;
        margin-right: 1em;

    }
 .drop-down-paragraph-top{
     flex-direction: row;
 }
    .drop-down-paragraph-bottom{
        flex-direction: row-reverse;
    }
}

@media(min-width: 1500px){
    .drop-down-picture{
        width: 35%;
        height: auto;
        margin-right: 1em;

    }
}
@media(min-width: 1700px){
    .drop-down-picture{
        width: 40%;
        height: auto;
        max-height: 600px;
        margin-right: 1em;

    }
}
