.about-me{
    min-height: 500px;
}
.about-me-text{
    text-align: center;
    margin: 3em;
}
.pokemon-logo{
    border: 4px solid transparent;
    border-radius: 25% 10%;
    max-width: 100px;
    height: auto;
}
.pokemon-logo:hover{
    border: 4px solid hsl(var(--clr-orange-soda));
}
