.drop-down-container{
    min-height: 1000px;
    padding-bottom: 5em;
    background-color: hsl(var(--clr-blue-gray));
    margin-left: 2em;
    margin-right: 2em;
    border: 5px solid hsl(var(--clr-dark-gray));

}
.drop-down-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.drop-down-picture{
    display: block;
    max-width: 400px;
    height: auto;
    border: 5px solid hsl(var(--clr-orange-soda));
    border-radius: 5% 5% ;
    margin-right: 2em;
}
