.drop-down-container{
    min-height: 1000px;
    padding-bottom: 5em;
    background-color: hsl(var(--clr-sandy-brown),.6);
    margin-left: 2em;
    margin-right: 2em;
    border: 5px solid hsl(var(--clr-dark-gray));
    border-radius: 1% 1%;
}
.drop-down-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down-picture{
    display: block;
    max-width: 400px;
    height: auto;
    border: 5px solid hsl(var(--clr-orange-soda));
    border-radius: 5% 5% ;
    margin: 1em ;
}
