/*primary header*/

.logo {
  width: 95px;
  height: auto;
}
.logo:hover {
  cursor: pointer;
}
.primary-header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(var(--clr-light-gray));
  border-bottom: 6px solid hsl(var(--clr-blue-gray));
}
.primary-navigation {
  margin: 0;
  list-style: none;
  height: 100%;
  padding-right: 0.5em;
  display: flex;
}

.nav-item {
  font-size: var(--fs-300);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 0.3rem;
}
.nav-item > a {
  color: hsl(var(--clr-dark-gray));
}
.nav-item > a:hover {
  color: hsl(var(--clr-mint-offwhite));
}

.nav-item:hover {
  border-bottom: 3px solid hsl(var(--clr-orange-soda));
}
.toggle-dropdown {
  display: none;
}

/*special media query to keep navbar
visible when not in collapsed
do not alter this!
                            */

@media (min-width: 500px) {
  .primary-navigation {
    visibility: visible !important;
  }
}

@media (max-width: 500px) {
  .toggle-dropdown {
    display: block;
    position: relative !important;
    left: 150px;
    background-color: transparent;
    border: none;
  }
  .primary-navigation {
    position: relative;
    top: 125px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 160px;
    background-color: hsl(var(--clr-light-gray));
    border-bottom: 5px solid hsl(var(--clr-blue-gray));
    border-left: 5px solid hsl(var(--clr-blue-gray));
  }
}
