body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7eccd;
}

li{
  list-style: none;
}
.flex {
  display: flex;
  /*gap: var(--gap, 1rem);*/
}
.wrap {
  flex-wrap: wrap;
}
a:link, a:visited {
  background-color: black;
  color:white;
  border-radius: 15px;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  box-shadow: -3px 3px 3px black;
}

a:hover, a:active {
  background-color: cadetblue;
}