
/*primary header*/

.logo {
    width: 95px;
    height: auto;
}
.logo:hover{
    cursor: pointer;
}
.primary-header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(var(--clr-blue-gray),.6);
    border-bottom: 5px solid hsl(var(--clr-blue-gray))
}
.primary-navigation {
    margin: 0;
    list-style: none;
    height: 100%;
    padding-right: .5em;
    display: flex;
}

.nav-item{
    font-size: var(--fs-300);
    border-bottom: 1px solid transparent;
    padding: .3rem;
}

.nav-item:hover{
    border-bottom: 3px solid hsl(var(--clr-orange-soda));
}
.toggle-dropdown{
    display: none;
}

/*special media query to keep navbar
visible when not in collapsed
do not alter this!
                            */
@media(min-width: 700px){
.primary-navigation{
    visibility: visible !important;
}
}


@media(max-width: 700px){
    .toggle-dropdown{
        display: block;
        position: relative !important;
        left: 150px;
        background-color: transparent;
        border: none

    }
.primary-navigation{

    position: relative;
    top: 129px;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: hsl(var(--clr-blue-gray));
    }
}