
/*primary header*/

.logo {
    width: 95px;
    height: auto;
}
.logo:hover{
    cursor: pointer;
}
.primary-header {
    height: 56px;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(var(--clr-blue-gray),.6);
    border-bottom: 5px solid hsl(var(--clr-blue-gray))
}
.primary-navigation {
    margin: 0;
    list-style: none;
    height: 100%;
    padding-right: .5em;
    justify-content: center;
    align-items: center;


}

.nav-item{
    font-size: var(--fs-300);
    width: auto;
    border-bottom: 3px solid transparent;
}

.nav-item:hover{
    border-bottom: 3px solid hsl(var(--clr-orange-soda));
}
.toggle-dropdown{
    display: none;
}

/*special media query to keep navbar
visible when not in collapsed
do not alter this!
                            */
@media(min-width: 700px){
.primary-navigation{
    visibility: visible !important;
}
}


@media(max-width: 700px){
    .toggle-dropdown{
        position: relative;
        display: block;
        background-color: transparent;
        top: 100px;
        border: none

    }
.primary-navigation{
    position: relative;
    right: 0;
    top: 99px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 150px;
    background-color: red;
    }
}