
/*primary header*/

.logo {
    width: 95px;
    height: auto;
}
.logo:hover{
    cursor: pointer;
}
.primary-header {
    height: 56px;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(var(--clr-blue-gray),.6);
    border-bottom: 5px solid hsl(var(--clr-blue-gray))
}
.primary-navigation {
    margin: 0;
    list-style: none;
    height: 100%;
    padding-right: .5em;
    justify-content: center;
    align-items: center;

}

.nav-item{

    font-size: var(--fs-200);
    width: auto;
    border-bottom: 3px solid transparent;

}

.nav-item:hover{
    border-bottom: 3px solid hsl(var(--clr-orange-soda));
}